html, body {
   height:100%;
   margin: 0;
}

.wrapper {
  min-height: 100%;
  position:relative;
  padding-bottom: 80px;
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
   background:#6cf;
}

ul {
  list-style-type: square;
}

li ul li:last-child {
  color: red;
}
