body {
  background-color: #e5e5e5;
}

article {
    max-width: 75ch;
    min-width: 65ch;
    margin: auto;
    font-family: verdana, georgia;
    line-height: 1.5;
    font-size: 20px;
    color: #8e8e8e;
}

h1 {
    font-size: 3em;
    margin-bottom: auto;
}

h2 {
    font-size: 1.8em;
}

p, blockquote, ul, ol {
    font-size: 1em;
    line-height: 1.5em;
}

#facts {
    margin: 1em 0em 1em 1em;
    width: 50%;
    border: 1px dashed;
    float: right;
}

#facts > ul {
    list-style-image: url('../img/cup-icon.svg');
    line-height: 1.5em;
    padding-left: 1.5em;
}

#cover {
  width: 100%;
}
